$artong-main: #6610f2 !default;
$artong-white: white !default;
$artong-black: black !default;
$lightslategray: gray !default;
$lightgray: lightgray !default;
$aliceblue: aliceblue !default;
$sidebar-backdrop: rgba(0,0,0,.5) !default;
$head-height: 50px !default;
