$artong-main: #F22D3E !default;
$artong-white: white !default;
$artong-black: black !default;
$artong-dark: #2a2a2a !default;
$darkgray: #454545 !default;
$gray: #b3b3b3 !default;
$lightgray: gainsboro !default;
$lightergray: #EEEEEE !default;
$backdrop: rgba(0,0,0,.5) !default;
$head-height: 70px !default;
$profile-border-gray: #E5E5E5 !default;
$profile-border-red: #F22E3E !default;

// from vsm
$primary-color: $artong-black !default;
$base-bg: $artong-dark !default;

$item-color: $artong-white !default;

$item-active-color: $item-color !default;

$item-open-color: $item-color !default;
$item-open-bg: $primary-color !default;

$item-hover-color: $item-color !default;
$item-hover-bg: rgba(darken( $base-bg, 5% ), 0.5) !default;

$icon-color: $item-color !default;
$icon-bg: darken( $base-bg, 5% ) !default;

$icon-active-color: $item-color !default;
$icon-active-bg: $icon-bg !default;

$icon-open-color: $item-color !default;
$icon-open-bg: $primary-color !default;

$dropdown-bg: lighten( $base-bg, 5% ) !default;
$dropdown-color: $item-color !default;

$item-font-size: 16px !default;
$item-line-height: 30px !default;
$item-padding: 10px !default;
$icon-height: 20px !default;
$icon-width: 30px !default;

$item-font: 'Pretendard' !default;
$item-font-style: normal !default;
