.contents__body {
  background-color: $base-bg;
}

.v-sidebar-menu {
  background-color: $base-bg;
  .art--link {
    color: $item-color;
    &_exact-active,
    &_active {
      color: $item-active-color;
    }
    &_level-1 {
      &.art--link_exact-active,
      &.art--link_active {
        box-shadow: 3px 0px 0px 0px $artong-white inset;
        & .art--icon {
          color: $icon-active-color;
          background-color: $icon-active-bg;
        }
      }
      & .art--icon {
        background-color: $icon-bg;
      }
      & .art--title {
        color: $artong-white
      }
    }
    &_hover,
    &:hover {
      color: $item-hover-color;
      background-color: $item-hover-bg;
    }
  }

  .art--icon {
    color: $icon-color;
  }

  .art--dropdown {
    & .art--list {
      background-color: $dropdown-bg;
    }
    & .art--link {
      color: $dropdown-color;
    }
    & .art--icon {
      color: $dropdown-color;
    }
  }

  .art--header {
    color: rgba($item-color, 0.7);
  }
  .art--badge_default {
    color: $item-color;
    background-color: darken( $base-bg, 5% );
  }

  .info-area {
    color: $artong-white;

    .info {
      button {
        background: $artong-white;
        color: $artong-black;
      }
    }
  }
}

.navbar {
  background-color: $base-bg;

  .burger-bar {
    background-color: $artong-white;
  }

  .logo {
    fill: $artong-white;
  }

  .navbar__icons {
    button {
      background: $artong-white;
      color: $artong-black;
      a {
        color: $artong-black;
      }
    }
  }

  .search-bar {
    background: $base-bg;

    .search-input {
      color: $artong-white;
      background: transparent;
    }
  }
}

@media only screen and (max-width: 1080px) {
  .navbar.active {
    background-color: $base-bg;
  }
}